* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'sans serif';
    box-sizing: border-box;
}

body {
    background-image: url(/images/—Pngtree—white\ cloud\ on\ blue\ sky_1229456.jpg);
}

.card {
    width: 90%;
    max-width: 470px;
    background: radial-gradient(#2b95f3, #8db5fa);
    opacity: 80%;
    color: #fff;
    margin: 75px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-top: 50px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
    justify-content: center;
}

.weather h2 {
    font-size: 40px;
    font-weight: 300;
    margin-top: -10px;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 20px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ADD8E6; */
    
}

.headlogo {
    font-size: 24px;
    font-weight: bold;
    color: #3882d6;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #1b6fce;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

/* nav a:hover {
    text-decoration: underline;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    color: black;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-menu {
    display: block;
}